@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<picture>
  <source media="(min-width: 465px)" srcset="file-small.jpg" />
  <source media="(min-width: 650px)" srcset="file-medium.jpg" />
  <img src="file.jpg" alt="" />
</picture>
<p>this is your privaCY POLICY AND THIS </p>